In [4]:
import pandas as pd
import os
from glob import glob
import numpy as np
from glob import glob
import path

In [5]:
data_path = "data/pump_locations.csv"
df = pd.read_csv(data_path).T[1:]
df

                0          1
PST232  55.278004  14.803541
PST238  55.275994  14.805272
PST237  55.275431  14.804389
PST233  55.275424  14.804389
PST234  55.270763  14.809371
PST239  55.271984  14.807498
PST240  55.267675   14.80468

In [24]:
data_path = 'data/PST Pump powers and volumes.xlsx'
df_info = pd.read_excel(data_path, usecols='A:G').iloc[1:8]
df

,Item,Name,Adress,P1,P2,P3,Volumen
1,PST232,Blindtarmen,"Kæmpestranden 16, 3770 Allinge",4.8,4.8,NaN,"2,9"
2,PST238,Kjærnes,"Kæmpestranden 2, 3770 Allinge",1.5,1.5,NaN,"1,3"
3,PST237,Løsebæk,"Løsebækgade 1D, 3770 Allinge",4.7,4.7,NaN,NaN
4,PST233,Grønnedalsvej,"Grønnedalsvej 29, 3770 Allinge",4.4,4.4,NaN,2
5,PST234,Hyldeslet,"Hyldeslet 5, 3770 Allinge",2.6,2.6,NaN,"1,5"
6,PST239,Knudsnæs,"Løsebækgade 15, 3770 Allinge",15,54,NaN,"10,5"
7,PST240,Ostekarret,"Tejnvej 22B, 3770 Allinge",105,22,22,NaN