In [12]:
import pandas as pd
import os
from glob import glob

In [21]:
all_files = [file for path, subdir, files in os.walk('data/HistoricData') for file in glob(os.path.join(path, '*.CSV'))]
all_files_239 = []
for filename in all_files:
    if '239' in filename:
        all_files_239.append(filename)
all_files_239, len(all_files_239)

(['data/HistoricData/PST239_Oktober/PST239_Oktober.CSV',
  'data/HistoricData/PST239_Juli/PST239_Juli.CSV',
  'data/HistoricData/PST239_August/PST239_August.CSV',
  'data/HistoricData/PST239_December/PST239_December.CSV',
  'data/HistoricData/PST239_Maj/PST239_Maj.CSV',
  'data/HistoricData/PST239_November/PST239_November.CSV',
  'data/HistoricData/PST239_Juni/PST239_Juni.CSV',
  'data/HistoricData/PST239_Februar/PST239_Februar.CSV',
  'data/HistoricData/PST239_Februar/PST239_Februar_Graphs.CSV',
  'data/HistoricData/PST239_April/PST239_April.CSV'],
 10)

In [22]:
p = all_files_239[0]
print(f'reading {p}')
df = pd.read_csv(p, encoding='cp1252', sep=';', decimal=',').reset_index().iloc[:,1:]

reading data/HistoricData/PST239_Oktober/PST239_Oktober.CSV

In [23]:
df.columns = ['time', 'current_1', 'current_2', 'water_level', 'outflow_level']
df = df.astype({
    'current_1': float,
    'current_2': float,
    'water_level': float,
    'outflow_level': float,
})
df.time = pd.to_datetime(df.time)
df

,time,current_1,current_2,water_level,outflow_level
0,2020-01-10 00:00:00.000,0.460,0.0,0.04,0.0
1,2020-01-10 00:00:01.561,0.461,0.0,0.04,0.0
2,2020-01-10 00:00:05.929,0.460,0.0,0.04,0.0
3,2020-01-10 00:00:10.266,0.460,0.0,0.04,0.0
4,2020-01-10 00:00:14.665,0.460,0.0,0.04,0.0
...,...,...,...,...,...
614462,2020-10-31 23:59:37.529,0.661,0.0,0.04,0.0
614463,2020-10-31 23:59:41.866,0.662,0.0,0.04,0.0
614464,2020-10-31 23:59:46.967,0.658,0.0,0.04,0.0
614465,2020-10-31 23:59:51.974,0.661,0.0,0.04,0.0
614466,2020-10-31 23:59:56.327,0.663,0.0,0.04,0.0

In [24]:
df['currents'] = df.apply(lambda row: [row.current_1, row.current_2], axis=1)
df['current_tot'] = df.apply(lambda row: row.current_1 + row.current_2, axis=1)
df.drop(columns=['current_1', 'current_2'], inplace=True)

In [80]:
df

,time,water_level,outflow_level,currents,current_tot
0,2020-04-23 12:00:00.000,0.02,0.0,"[1.624, 0.0]",1.624
1,2020-04-23 12:00:00.000,0.02,0.0,"[1.624, 0.0]",1.624
2,2020-04-23 12:54:10.276,23.72,0.0,"[0.0, 51.4]",51.400
3,2020-04-23 12:54:15.690,23.79,0.0,"[0.0, 48.28]",48.280
4,2020-04-23 12:54:20.495,23.84,0.0,"[0.0, 49.91]",49.910
...,...,...,...,...,...
139842,2020-04-30 23:59:40.691,0.04,0.0,"[1.087, 0.0]",1.087
139843,2020-04-30 23:59:44.528,0.04,0.0,"[1.096, 0.0]",1.096
139844,2020-04-30 23:59:48.567,9.03,0.0,"[1.106, 0.0]",1.106
139845,2020-04-30 23:59:52.450,12.24,0.0,"[1.114, 0.0]",1.114
139846,2020-04-30 23:59:56.490,15.24,0.0,"[1.123, 0.0]",1.123