In [2]:
import pandas as pd
import os
from glob import glob
import numpy as np
from bs4 import BeautifulSoup

In [3]:
data_dir = 'data/VS__rapporter_Brogaard_VV_'

In [43]:
html_files = [html_file for html_file in glob(os.path.join(data_dir, '*.html'))]
html = html_files[6]
html

'data/VS__rapporter_Brogaard_VV_/Brogaard juli 2020.html'

In [67]:
df = pd.read_html(html, encoding='cp1252')[2]
year = html.split(' ')[-1].split('.')[-2].split('[')[0]
df = df[4:-3]
df.columns = [
    'date',
    'in_flow_total',
    'out_flow_total',
    'raw_water_flow_ponydalen',
    'raw_water_flow_maeg책rd',
    'raw_water_flow_sandkaas',
    'raw_water_flow_sandkaas_max',
]
df = df.astype(
    {
        "in_flow_total": float,
        "out_flow_total": float,
        "raw_water_flow_ponydalen": float,
        "raw_water_flow_maeg책rd": float,
        "raw_water_flow_sandkaas": float,
        "raw_water_flow_sandkaas_max": float,
    }
)
df.date = df.date.apply(lambda d: d + '-' + year)
df.date = pd.to_datetime(df.date, format="%d-%m-%Y")
df

,date,in_flow_total,out_flow_total,raw_water_flow_ponydalen,raw_water_flow_maeg책rd,raw_water_flow_sandkaas,raw_water_flow_sandkaas_max
4,2020-07-01,683.0,692.0,209.0,474.0,197.0,159.0
5,2020-07-02,748.0,724.0,304.0,444.0,218.0,182.0
6,2020-07-03,736.0,703.0,240.0,496.0,207.0,182.0
7,2020-07-04,680.0,684.0,166.0,514.0,189.0,178.0
8,2020-07-05,764.0,730.0,292.0,472.0,211.0,183.0
9,2020-07-06,759.0,744.0,272.0,487.0,211.0,183.0
10,2020-07-07,842.0,804.0,283.0,559.0,233.0,202.0
11,2020-07-08,846.0,816.0,277.0,569.0,227.0,202.0
12,2020-07-09,908.0,838.0,319.0,589.0,245.0,219.0
13,2020-07-10,871.0,817.0,325.0,546.0,230.0,219.0
14,2020-07-11,877.0,861.0,279.0,598.0,242.0,217.0
15,2020-07-12,892.0,863.0,296.0,596.0,248.0,217.0
16,2020-07-13,800.0,768.0,302.0,498.0,225.0,248.0
17,2020-07-14,888.0,818.0,330.0,558.0,220.0,248.0
18,2020-07-15,852.0,854.0,293.0,559.0,241.0,216.0
19,2020-07-16,867.0,860.0,302.0,565.0,245.0,216.0
20,2020-07-17,789.0,786.0,244.0,545.0,212.0,227.0
21,2020-07-18,1017.0,915.0,338.0,679.0,250.0,227.0
22,2020-07-19,891.0,906.0,235.0,656.0,251.0,217.0
23,2020-07-20,930.0,896.0,282.0,648.0,255.0,214.0
24,2020-07-21,1004.0,930.0,408.0,596.0,264.0,221.0
25,2020-07-22,965.0,941.0,418.0,547.0,257.0,230.0
26,2020-07-23,981.0,962.0,395.0,586.0,251.0,230.0
27,2020-07-24,920.0,864.0,407.0,513.0,234.0,217.0
28,2020-07-25,885.0,875.0,372.0,513.0,233.0,215.0
29,2020-07-26,875.0,831.0,358.0,517.0,232.0,215.0
30,2020-07-27,854.0,813.0,358.0,496.0,226.0,219.0
31,2020-07-28,814.0,800.0,299.0,515.0,230.0,219.0
32,2020-07-29,879.0,828.0,326.0,553.0,237.0,211.0
33,2020-07-30,868.0,846.0,320.0,548.0,245.0,211.0
34,2020-07-31,864.0,847.0,335.0,529.0,244.0,234.0